// Import page-specific CSS files here.
@import "home";

.index-container {
  width: 80%;
  margin: 0 auto;
}

.title {
  text-align: center;
}

a {
  text-decoration: none;
  color: #014cb1;
  transition: color 0.5s;
}

a:hover {
  text-decoration: none;
  color: #dd1321;
}

.p-3 {
  color: white;
  font-weight: bold;
}

.add-tb:hover {
  color: #dd1321;
}

.toothbrush-container {
  grid-template-columns: repeat(3, 1fr);
  p {
    color: black;
  }
  h2 {
    color: black;
  }
}

.overflow {
  overflow: auto;
}


