// Import page-specific CSS files here.
@import "home";

.index-container {
  width: 80%;
  margin: 0 auto;
}

.index-title {
  text-align: center;
  padding: 16px;
  color: white;
}

a {
  text-decoration: none;
  color: #014cb1;
  transition: color 0.5s;
}

a:hover {
  text-decoration: none;
  color: #dd1321;
}

.add-tb {
  margin: 16px auto;
  text-align: center;
}

.toothbrush-container {
  grid-template-columns: repeat(3, 1fr);
  p {
    color: black;
  }
  h2 {
    color: black;
  }
}

.overflow {
  overflow: auto;
}

.index-left-container {
  padding-top: 16px;
}
