.central-block {
  margin: 24px auto;
  text-align: center;
  padding: 12px;
  width: 60%;
}

.show-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-dropdown button {
  margin-bottom: 8px;
  font-size: 18px;
}

.list-group-item {
  p {
    color: black;
  }
  .fas {
    color: gold;
  }
  padding-bottom: 4px;
  margin-bottom: 8px;
}

#rental-show {
  height: 80vh;
}

.rental-info {
  padding: 16px;
}