.rentals-index {
  width: 80%;
  margin: 0 auto;
  color: black;
}

.rental-container {
  background-color: whitesmoke;
  padding: 20px 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: auto;
  color: #2a8aaf;
}

.my-rentals {
  margin-top: 16px;
}