#search-b {
  background-color: $soft-purp;
  border: solid white 1px;
}

#add-btn {
  background-color: $soft-purp;
  border: solid white 1px;
  border-radius: 5px;
}

#show-btn {
  background-color: $soft-purp;
  border: solid white 1px;
}

.form-btn {
  background-color: $soft-purp;
  border: solid white 1px;
}
